:root{
    --color-principal: rgb(23,56,89);/*Variable css para cambiar en javascript*/
    
}
.link-dom{
    color:var(--color-principal);
}
.elemento-secundario{
    color:green;
}
.elemento-alterno{
    color:red;
}
